@model NotesMarkePlace.Models.User

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Title -->
    <title>@ViewBag.Title  Notes MarketPlace</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/Homepage/favicon.ico">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700" rel="stylesheet">


    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">

</head>


<body>

    <!-- Login -->
    <section id="login">
        <img src="~/images/Pre-Login/banner-with-overlay.jpg" alt="banner" class="img-responsive img-pre-login">
        <div id="login-content">
            <div id="login-content-inner" class="container  text-center">
                <div class="logo">
                    <img src="~/images/Pre-Login/top-logo.png" alt="logo" class="img-responsive">
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="text-center login-heading">
                                        <h2>Login</h2>
                                        <p>Enter your email address and password to login</p>
                                    </div>

                                    if (ViewBag.Message != "")
                                    {
                                        <div class="text-danger">@ViewBag.Message</div>
                                    }

                                    <div class="form-group text-left">
                                        @Html.Label("Email", "Email *")
                                        <div>
                                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-left">
                                            @Html.Label("Password", "Password")
                                        </div>
                                        <div class="text-right right">
                                            @Html.ActionLink("Forgot Password", "forgotPassword", new { @class = "text-right blue border-decoration" })
                                            <!-- <a class="text-right blue border-decoration" href="#">Forgot Password?</a> -->
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "password-field", @class = "form-control", @placeholder = "Enter your password", @type = "password" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            <span toggle="#password-field" class="field-icon toggle-password"><img src="~/images/Pre-Login/eye.png"></span>
                                        </div>
                                    </div>
                                    <!--<div class="small text-left">
                                        <small>This password that you've enterd is incorrect</small>
                                    </div>-->

                                    <div class="text-left">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.RememberMe, new { HtmlAttributes = new { @class = "form-check-input", @id = "invalidCheck", @type = "checkbox" } })
                                            @Html.Label("RememberMe", "Remember Me", new { HtmlAttribute = new { @class = "margin-left", @id = "invalidcheck" } })
                                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <button class="btn btn-primary margin-top" type="submit">Login</button>
                                    </div>
                                    <div class="signup">
                                        Don't have an account?@Html.ActionLink("Sign Up?", "signup", new { @class = "border-decoration blue" })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Ends -->
    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/script.js"></script>

</body>

</html>
