@model NotesMarkePlace.Models.UserProfile



@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Member Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<!-- Member Details -->
<section id="memberDetails">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="sub-heading member-details" style="margin:-60px 0 0 -50px;">
                    <h3>Member Details</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xm-6">
                    <img src="~/images/MemberDetails/member.png" alt="member-id" class="img-responsive img-member">
                </div>
                <div class="col-md-5 col-sm-6 col-xm-6 vr">

                    <div class="col-md-5 col-sm-6 col-xs-6 left02">
                        First Name:
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-6  right01">
                        @Model.User.FirstName
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 left02">
                        Last Name:
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-6  right01">
                        @Model.User.LastName
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 left02">
                        Email:
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-6  right01">
                        @Model.User.EmailID
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 left02">
                        DOB:
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-6  right01">
                        @Model.DOB
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 left02">
                        Phone Number:
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-6  right01">
                        @Model.PhoneNumber
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-6 left02">
                        College/University:
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-6  right01">
                        @Model.University
                    </div>
                </div>


                <div class="col-md-4 col-sm-12 col-xs-12 members-details-right">
                    <div class="col-md-5 col-sm-6 col-xs-6 left02">
                        Address 1:
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-6  right01">
                        &nbsp;&nbsp;&nbsp;@Model.AddressLine1
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 left02">
                        Address 2:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6  right01">
                        @Model.AddressLine2
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 left02">
                        City:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6  right01">
                        @Model.City
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 left02">
                        State:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6  right01">
                        @Model.State
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 left02">
                        Country:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6  right01">
                        @Model.Country
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 left02">
                        Zip Code:
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6  right01">
                        @Model.ZipCode
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 member-details">
                    <h4>Notes</h4>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-bordless table-members-details text-center">
                        <thead>
                            <tr>
                                <th scope="col">Sr No.</th>
                                <th scope="col">Note Title</th>
                                <th scope="col">Category</th>
                                <th scope="col">Status</th>
                                <th scope="col">Downloaded Notes</th>
                                <th scope="col">Total Earnings</th>
                                <th scope="col">Date Added</th>
                                <th scope="col">Published Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="col-highlight">Software Development</td>
                                <td>IT</td>
                                <td>Published</td>
                                <td>22</td>
                                <td>$177</td>
                                <td>09-10-2020, 10:10</td>
                                <td>09-10-2020, 10:10</td>
                                <td>
                                    <div class="dropdown">
                                        <img src="~/images/SpamReports/dots.png" alt="edit" title="edit" class="img-dot" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alter="client">&nbsp;&nbsp;

                                        <div class="dropdown-menu dropdown-members-details text-left">
                                            <div class="dropdown-item" href="#">Download Notes</div><br>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td class="col-highlight">Computer Basic</td>
                                <td>Computer</td>
                                <td>Published</td>
                                <td>4</td>
                                <td>$125</td>
                                <td>10-10-2020, 11:25</td>
                                <td>10-10-2020, 11:25</td>
                                <td>
                                    <div class="dropdown">
                                        <img src="~/images/SpamReports/dots.png" alt="edit" title="edit" class="img-dot" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alter="client">&nbsp;&nbsp;

                                        <div class="dropdown-menu dropdown-members text-left">
                                            <div class="dropdown-item" href="#">Download Notes</div><br>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td class="col-highlight">Human Body</td>
                                <td>Science</td>
                                <td>InReview</td>
                                <td>17</td>
                                <td>$978</td>
                                <td>11-10-2020, 01:00</td>
                                <td>11-10-2020, 01:00</td>
                                <td>
                                    <div class="dropdown">
                                        <img src="~/images/SpamReports/dots.png" alt="edit" title="edit" class="img-dot" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alter="client">&nbsp;&nbsp;

                                        <div class="dropdown-menu dropdown-members text-left">
                                            <div class="dropdown-item" href="#">Download Notes</div><br>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>4</td>
                                <td class="col-highlight">World War 2</td>
                                <td>History</td>
                                <td>Published</td>
                                <td>28</td>
                                <td>$15254</td>
                                <td>12-10-2020, 10:00</td>
                                <td>12-10-2020, 10:00</td>
                                <td>
                                    <div class="dropdown">
                                        <img src="~/images/SpamReports/dots.png" alt="edit" title="edit" class="img-dot" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alter="client">&nbsp;&nbsp;

                                        <div class="dropdown-menu dropdown-members text-left">
                                            <div class="dropdown-item" href="#">Download Notes</div><br>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>5</td>
                                <td class="col-highlight">Accounting</td>
                                <td>Account</td>
                                <td>Published</td>
                                <td>0</td>
                                <td>$69</td>
                                <td>13-10-2020, 11:25</td>
                                <td>NA</td>
                                <td>
                                    <div class="dropdown">
                                        <img src="~/images/SpamReports/dots.png" alt="edit" title="edit" class="img-dot" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alter="client">&nbsp;&nbsp;

                                        <div class="dropdown-menu dropdown-members text-left">
                                            <div class="dropdown-item" href="#">Download Notes</div><br>
                                        </div>
                                    </div>
                                </td>
                            </tr>




                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Member Details -->
<!-- Pagination-->
<section id="pagination2">
    <div id="page" class="text-center">
        <div class="row">
            @Html.PagedListPager(Model, i => Url.Action("MemberDetails", "Admin", new { i }), new PagedList.Mvc.PagedListRenderOptions
            {
                ContainerDivClasses = null,
                LiElementClasses = new string[] { "page-item page-link" },
                UlElementClasses = new string[] { "pagination pagination-lg justify-content-center" },
                LinkToNextPageFormat = ">",
                LinkToPreviousPageFormat = "<i class='fa fa-chevron-left left-arrow'></i>",
                MaximumPageNumbersToDisplay = 5,
                DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never
            })

        </div> <br /><br /><br /><br /> <hr>
    </div>
</section>
<!-- Pagination Ends-->
