@model NotesMarkePlace.Models.ChangePassword

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Title -->
    <title>@ViewBag.Title Notes MarketPlace</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/Homepage/favicon.ico">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">


    <!-- Owl Carousel CSS -->
    <link rel="stylesheet " href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">

</head>


<body>
    <!-- Change Password -->
    <section id="login">
        <img src="~/images/Pre-Login/banner-with-overlay.jpg" alt="banner" class="img-responsive img-pre-login">
        <div id="login-content">
            <div id="login-content-inner" class="container  text-center">

                <div class="logo">
                    <img src="~/images/Pre-Login/top-logo.png" alt="logo" class="img-responsive">
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @using (Html.BeginForm())
                                {

                                    <div class="text-center login-heading">
                                        <h2>Change Password</h2>
                                        <p><small>Enter your new password to change your password</small></p>
                                    </div>

                                    <div class="form-group text-left">
                                        @Html.Label("OldPassword", "Old Password")
                                        <div>
                                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @id = "password-field", @class = "form-control", @placeholder = "Enter your old password", @type = "password" } })
                                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                            <span toggle="#password-field" class="field-icon toggle-password"><img src="~/images/Pre-Login/eye.png"></span>
                                        </div>
                                    </div>

                                    <div class="form-group text-left">
                                        @Html.Label("NewPassword", "New Password")
                                        <div>
                                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @id = "password-field1", @class = "form-control", @placeholder = "Enter your old password", @type = "password" } })
                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                            <span toggle="#password-field1" class="field-icon toggle-password"><img src="~/images/Pre-Login/eye.png"></span>
                                        </div>
                                    </div>

                                    <div class="form-group text-left">
                                        @Html.Label("ConfirmPassword", "Confirm Password")
                                        <div>
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @id = "password-field2", @class = "form-control", @placeholder = "Enter your old password", @type = "password" } })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            <span toggle="#password-field2" class="field-icon toggle-password"><img src="~/images/Pre-Login/eye.png"></span>
                                        </div>
                                    </div>


                                    <div class="text-left">
                                        <button class="btn btn-blue btn-submit-form-cp" type="submit">Submit</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Change Password Ends -->
    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Wow JS -->
    <script src="~/Scripts/wow.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/script.js"></script>



</body>

</html>